.row-table {
  display: grid;
  align-items: center;
  grid-template-columns:  2fr 2fr 2fr 2fr;

  &:hover {
    background: #b3b061;
    cursor: pointer;
  }

  &.colorRow {
    background: #e1f3e1;
  }

  &.change-color {
    background: #b3b061;
  }
}

.d-td {
  border: 1px solid #000;
  padding: 10px;
}
